* {
	box-sizing: border-box;
}
body {
	font-family: 'Questrial', sans-serif;
	transition: 0.2s ease-in-out;
	background-color: rgba(255, 255, 255, 0.99);
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.wrapper {
	display: flex;
	flex-flow: column;
	align-items: center;
	height: 200vh;
}
/* Menu */
#nav {
	width: 600px;
	display: flex;
	justify-content: space-evenly;
	margin: 20px 0;
	position: relative;
}

.link {
	text-decoration: none;
	color: black;
	font-size: 22px;
	transition: 0.2s ease-in-out;
}
.white {
	color: white;
}

.marker {
	position: absolute;
	height: 4px;
	width: 0px;
	background: black;
	bottom: -8px;
	transition: 0.2s;
	border-radius: 4px;
}
.white-marker {
	background: white !important;
}

/* Dark Theme */
.fa-moon {
	color: #f1c40f;
}
.fa-sun {
	color: #f39c12;
}
#checkbox {
	opacity: 0;
	position: absolute;
}
#checkbox:checked + .label .ball {
	transform: translateX(24px);
}
/*
 Doesn't work
#checkbox:checked body {
	background-color: #292c35;
} */

.label {
	cursor: pointer;
	background: #111;
	display: flex;
	border-radius: 50px;
	height: 26px;
	width: 50px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: relative;
}

.ball {
	border-radius: 50%;
	left: 2px;
	top: 2px;
	background-color: #fff;
	position: absolute;
	height: 22px;
	width: 22px;
	transition: 0.2s ease-in-out;
}
.dark {
	background-color: #292c35;
}

/* Hero Image Parallax */
.hero-image {
	width: 100%;
	height: 85vh;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
.hero-image h1 {
	font-size: 100px;
	color: white;
	padding: 0;
	margin: 0 auto;
}
.img {
	height: 130vh;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	background-position: center;
	background-size: cover;
}
.mountain {
	z-index: 1;
}
.foreground {
	z-index: 2;
}

/* Boxes */
#box-container {
	opacity: 0;
	width: 1000px;
	height: 600px;
	background: grey;
	position: relative;
	overflow: hidden;
}

.box {
	height: 40px;
	transition: 0.5s ease-in-out;
	position: absolute;
}
